$color-background-none: #00000000;
$color-background-page: #f6f2f0ff;

$color-background-surface-1: #fefefeff;
$color-background-surface-1-hovered: #e8e0dbff;
$color-background-surface-1-pressed: #d3c3baff;
$color-background-surface-2: #f6f2f0ff;
$color-background-surface-2-hovered: #e8e0dbff;
$color-background-surface-2-pressed: #d3c3baff;
$color-background-inverted: #33231aff;
$color-background-overlay: #00000014;
$color-background-overlay-hovered: #0000003d;
$color-background-overlay-pressed: #0000005c;

$color-background-brand-subtle: #e3dad4ff;
$color-background-brand: #6e4930ff;
$color-background-brand-hovered: #5d3d27ff;
$color-background-brand-pressed: #392416ff;
$color-background-neutral-subtle: #d3c3baff;
$color-background-neutral: #977965ff;
$color-background-neutral-hovered: #593b28ff;
$color-background-neutral-pressed: #493122ff;
$color-background-info-subtle: #dfe7ffff;
$color-background-info: #295effff;
$color-background-info-hovered: #1d42b2ff;
$color-background-info-pressed: #17348cff;
$color-background-success-subtle: #dbece2ff;
$color-background-success: #0e813eff;
$color-background-success-hovered: #0a5a2bff;
$color-background-success-pressed: #084722ff;
$color-background-warning-subtle: #fef6dfff;
$color-background-warning: #fbc02dff;
$color-background-warning-hovered: #b08620ff;
$color-background-warning-pressed: #8a6a19ff;
$color-background-danger-subtle: #f5dedbff;
$color-background-danger: #bf2310ff;
$color-background-danger-hovered: #86190bff;
$color-background-danger-pressed: #691309ff;

$color-background-category-1-subtle: #f6f2f0ff;
$color-background-category-1: #e01700ff;
$color-background-category-2-subtle: #e3dad4ff;
$color-background-category-2: #392416ff;
$color-background-category-3-subtle: #e3dad4ff;
$color-background-category-3: #392416ff;
$color-background-category-4-subtle: #e3dad4ff;
$color-background-category-4: #392416ff;
$color-background-category-5-subtle: #e3dad4ff;
$color-background-category-5: #392416ff;
$color-background-category-6-subtle: #e3dad4ff;
$color-background-category-6: #392416ff;
$color-background-category-7-subtle: #e3dad4ff;
$color-background-category-7: #392416ff;
$color-background-category-8-subtle: #e3dad4ff;
$color-background-category-8: #392416ff;
$color-background-category-9-subtle: #e3dad4ff;
$color-background-category-9: #392416ff;
$color-background-category-10-subtle: #e3dad4ff;
$color-background-category-10: #392416ff;
$color-background-on-color: #ffffffff;
$color-background-on-color-hovered: #ffffffb8;
$color-background-on-color-pressed: #ffffff8f;

$color-background-disabled: #d3c3baff;
$color-background-selected: #e3dad4ff;
