$color-border-default: #977965;
$color-border-subtle: #d3c3ba;
$color-border-brand: #6e4930;
$color-border-info: #295eff;
$color-border-success: #0e813e;
$color-border-warning: #8a6a19;
$color-border-danger: #bf2310;
$color-border-on-color: #ffffff;
