$color-foreground-default: #33231a;
$color-foreground-support: #593b28;
$color-foreground-disabled: #977965;
$color-foreground-brand: #6e4930;
$color-foreground-info: #295eff;
$color-foreground-success: #0e813e;
$color-foreground-warning: #8a6a19;
$color-foreground-danger: #691309;
$color-foreground-category-1: #7b0d00;
$color-foreground-category-2: #8c4600;
$color-foreground-category-3: #82345b;
$color-foreground-category-4: #17348c;
$color-foreground-category-5: #390d72;
$color-foreground-category-6: #ffffff;
$color-foreground-category-7: #236949;
$color-foreground-category-8: #436d0c;
$color-foreground-category-9: #856707;
$color-foreground-category-10: #202833;
$color-foreground-on-color: #ffffff;
