$color-link-default: #6e4930;
$color-link-hovered: #5d3d27;
$color-link-pressed: #392416;
$color-link-disabled: #977965;
$color-link-on-color-default: #fefefe;
$color-link-on-color-hovered: #fefefe;
$color-link-on-color-pressed: #fefefe;
$color-link-on-color-disabled: #e0e5eb;
