$color-on-background-brand-subtle: #392416ff;
$color-on-background-brand: #ffffffff;
$color-on-background-neutral-subtle: #493122ff;
$color-on-background-neutral: #fefefeff;
$color-on-background-info-subtle: #17348cff;
$color-on-background-info: #ffffffff;
$color-on-background-success-subtle: #084722ff;
$color-on-background-success: #ffffffff;
$color-on-background-warning-subtle: #8a6a19ff;
$color-on-background-warning: #000000ff;
$color-on-background-danger-subtle: #691309ff;
$color-on-background-danger: #ffffffff;
$color-on-background-on-color: #0c0705ff;
$color-on-background-inverted: #ffffffff;

$color-on-background-category-1-subtle: #392416ff;
$color-on-background-category-1: #ffffffff;
$color-on-background-category-2-subtle: #392416ff;
$color-on-background-category-2: #ffffffff;
$color-on-background-category-3-subtle: #392416ff;
$color-on-background-category-3: #ffffffff;
$color-on-background-category-4-subtle: #392416ff;
$color-on-background-category-4: #ffffffff;
$color-on-background-category-5-subtle: #392416ff;
$color-on-background-category-5: #ffffffff;
$color-on-background-category-6-subtle: #392416ff;
$color-on-background-category-6: #ffffffff;
$color-on-background-category-7-subtle: #392416ff;
$color-on-background-category-7: #ffffffff;
$color-on-background-category-8-subtle: #392416ff;
$color-on-background-category-8: #ffffffff;
$color-on-background-category-9-subtle: #392416ff;
$color-on-background-category-9: #ffffffff;
$color-on-background-category-10-subtle: #392416ff;
$color-on-background-category-10: #ffffffff;
