@backbase:registry=https://repo.backbase.com/artifactory/api/npm/npm-backbase/


@backbase:registry=https://repo.backbase.com/artifactory/api/npm/npm-backbase/
//repo.backbase.com/artifactory/api/npm/npm-backbase/:_authToken=${NPM_BB_TOKEN}
//repo.backbase.com/artifactory/api/npm/npm-backbase/:email=youremail@email.com
//repo.backbase.com/artifactory/api/npm/npm-backbase/:always-auth=true
//registry.npmjs.org/:_authToken=${NPM_TOKEN}
