@backbase:registry=https://repo.backbase.com/artifactory/api/npm/npm-backbase/
//repo.backbase.com/artifactory/api/npm/npm-backbase/:_authToken=${NODE_AUTH_TOKEN}
//repo.backbase.com/artifactory/api/npm/npm-backbase/:email=${NODE_EMAIL}
//repo.backbase.com/artifactory/api/npm/npm-backbase/:always-auth=true
//registry.npmjs.org/:_authToken=${NODE_AUTH_TOKEN}
ignore-scripts=true
