<bb-modal-ui [isOpen]="isOpen" [modalOptions]="modalOptions">
  <bb-modal-header-ui>
    <ng-template bbCustomModalHeader>
      <h2>Your session is about to expire</h2>
    </ng-template>
  </bb-modal-header-ui>

  <bb-modal-body-ui data-role="activity-monitor-body">
    <ng-template bbCustomModalBody>
      <ng-container *ngIf="remaining === 1">
        Due to inactivity your session will expire in 1 second. Perform any
        action to stay logged in.
      </ng-container>
      <ng-container *ngIf="remaining !== 1">
        Due to inactivity your session will expire in {{ remaining }} seconds.
        Perform any action to stay logged in.
      </ng-container>
    </ng-template>
  </bb-modal-body-ui>

  <div role="alert" class="visually-hidden">
    Due to inactivity your session will expire in
    {{ countdownDuration }} seconds
  </div>
</bb-modal-ui>
