<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate data-role="login-form">
	<div class="col-lg-6">
		<bb-header-ui headingType="h1" heading="Welcome to golden sample application"></bb-header-ui>
		<bb-input-validation-message-ui
			[showErrors]="loginForm.controls.login.invalid && loginForm.controls.login.touched"
			data-role="login-validation-message"
		>
            <span i18n="login is required and minimu leanth is 4 characters validation error">
                Required field and should be at least 4 characters
            </span>
        </bb-input-validation-message-ui>
		<bb-input-text-ui
			inputClassName="mb-2"
    		label="Username or email"
    		formControlName="login"
    		[required]="true"
			data-role="login-input"
  		></bb-input-text-ui>
		<bb-input-password-ui
			inputClassName="mb-2"
      		label="Password"
    	>
    	</bb-input-password-ui>
		<button class="mt-2" bbButton type="submit" aria-label="submit">submit</button>
	</div>
</form>
