<div class="bb-topbar">
  <button aria-label="skip to content" class="bb-page-layout__skip-to-content"> Skip to Content</button>
  <button aria-label="Toggle sidebar" class="bb-topbar__nav-expand-marker bb-topbar__nav-expand-marker--horizontal-nav"
    aria-expanded="true"><span class="bb-icon"></span></button>
  <div class="bb-topbar__branding-area">
    <div class="d-block px-4">
      <img
        src="https://app.stable.retail.backbasecloud.com/api/contentservices/api/contentstream-id/portalRepository/fb747fc6be3f2dcb55ccc2598c3f3dd1"
        class="img-fluid">
    </div>
  </div>
  <div class="bb-topbar__navigation-area" data-chrome="bb-panel-container-ang-_-731ab39984bf">
    <nav aria-label="Main Menu"
      class="bb-mega-menu bb-mega-menu--default-breakpoints bb-mega-menu--mobile-sidebar bb-mega-menu--sidebar-visible bb-mega-menu--submenu-hidden"
      tabindex="-1" aria-busy="true">
      <ul class="bb-mega-menu__items">
        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/user" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">My account</span>
          </a>
        </li>

        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/transfer" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Make a transfer</span>
          </a>
        </li>

        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/transactions" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Transactions</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bb-topbar__content-area" data-chrome="bb-panel-container-ang-_-3d30bb506ee2">
    <div class="row">
      <div class="col align-self-center">
        <div data-chrome="bb-panel-container-ang-_-164433bc52dc">
          <div data-chrome="bb-routing-container-ang-_-25daa37eb4db">
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
<div class="ml-4 main-content">
  <router-outlet></router-outlet>
</div>
