<div class="bb-topbar">
  <button aria-label="skip to content" class="bb-page-layout__skip-to-content"> Skip to Content</button>
  <button aria-label="Toggle sidebar" class="bb-topbar__nav-expand-marker bb-topbar__nav-expand-marker--horizontal-nav"
    aria-expanded="true"><span class="bb-icon"></span></button>
  <div class="bb-topbar__branding-area">
    <div class="d-block px-4">
      <img
        src="https://app.stable.retail.backbasecloud.com/api/contentservices/api/contentstream-id/portalRepository/fb747fc6be3f2dcb55ccc2598c3f3dd1"
        class="img-fluid">
    </div>
  </div>
  <div class="bb-topbar__navigation-area" data-chrome="bb-panel-container-ang-_-731ab39984bf">
    <nav aria-label="Main Menu"
      class="bb-mega-menu bb-mega-menu--default-breakpoints bb-mega-menu--mobile-sidebar bb-mega-menu--sidebar-visible bb-mega-menu--submenu-hidden"
      tabindex="-1" aria-busy="true">
      <ul class="bb-mega-menu__items">
        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/user" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">My account</span>
          </a>
        </li>

        <li class="bb-mega-menu__item ng-star-inserted" *bbIfEntitlements="'Transfers.make.view'">
          <a routerLink="/transfer" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Make a transfer</span>
          </a>
        </li>

        <li class="bb-mega-menu__item ng-star-inserted" *bbIfEntitlements="'Transactions.view'">
          <a routerLink="/transactions" routerLinkActive="bb-mega-menu__link--active"
            class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Transactions</span>
          </a>
        </li>

        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/todo" routerLinkActive="bb-mega-menu__link--active"
             class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Todo journey</span>
          </a>
        </li>
        <li class="bb-mega-menu__item ng-star-inserted">
          <a routerLink="/heroes" routerLinkActive="bb-mega-menu__link--active"
             class="bb-mega-menu__link ng-star-inserted">
            <span class="bb-mega-menu__item-description ng-star-inserted">Heroes journey</span>
          </a>
        </li>
        <li>
          <div class="bb-mega-menu__submenu bb-mega-menu__submenu--cols1 ng-star-inserted" role="region" tabindex="-1"
            aria-labelledby="bb-menu-header-button-2" hidden="">
            <div class="bb-mega-menu__submenu-items"><a class="bb-mega-menu__submenu-header" href="#" role="button">
                <bb-icon-ui name="toggle-down" class="bb-mega-menu__submenu--close" name="angle-left" size="lg">
                  <i aria-hidden="true" class="bb-icon bb-icon-angle-left bb-icon--lg"></i>
                </bb-icon-ui>
                <div class="bb-mega-menu__submenu--text"> Main Menu</div>
              </a>
              <div class="bb-mega-menu__column bb-mega-menu__column--links ng-star-inserted">
                <a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/2/make-a-transfer">
                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Make a transfer</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/2/scheduled-transfers">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Scheduled transfers</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/2/3">
                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Connected accounts</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="bb-mega-menu__item ng-star-inserted">
          <div class="bb-mega-menu__header ng-star-inserted" role="heading" aria-level="2" id="bb-menu-header-2"><a
              class="bb-mega-menu__link ng-star-inserted" href="#" tabindex="0" aria-expanded="false"
              id="bb-menu-header-button-2" role="button">
              <span class="bb-mega-menu__item-description ng-star-inserted">Bill pay</span>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--vertical ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-toggle-down bb-icon--md"></i></bb-icon-ui>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--horizontal ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-chevron-right bb-icon--md"></i></bb-icon-ui>
            </a>
          </div>
          <div class="bb-mega-menu__submenu bb-mega-menu__submenu--cols1 ng-star-inserted" role="region" tabindex="-1"
            aria-labelledby="bb-menu-header-button-billpay" hidden="">
            <div class="bb-mega-menu__submenu-items"><a class="bb-mega-menu__submenu-header" href="#" role="button">
                <bb-icon-ui name="toggle-down" class="bb-mega-menu__submenu--close" name="angle-left" size="lg"><i
                    aria-hidden="true" class="bb-icon bb-icon-angle-left bb-icon--lg"></i>
                </bb-icon-ui>
                <div class="bb-mega-menu__submenu--text"> Main Menu</div>
              </a>
              <div class="bb-mega-menu__column bb-mega-menu__column--links ng-star-inserted">
                <a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/billpay/pay-bill">
                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Pay a bill</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/billpay/pending-bills">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Pending payments</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/billpay/history-bills">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">History payments</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="bb-mega-menu__item ng-star-inserted">
          <div class="bb-mega-menu__header ng-star-inserted" role="heading" aria-level="2" id="bb-menu-header-3"><a
              class="bb-mega-menu__link ng-star-inserted" href="#" tabindex="0" aria-expanded="false"
              id="bb-menu-header-button-3" role="button">
              <span class="bb-mega-menu__item-description ng-star-inserted">Analytics</span>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--vertical ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-toggle-down bb-icon--md"></i></bb-icon-ui>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--horizontal ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-chevron-right bb-icon--md"></i></bb-icon-ui>
            </a>
          </div>
          <div class="bb-mega-menu__submenu bb-mega-menu__submenu--cols1 ng-star-inserted" role="region" tabindex="-1"
            aria-labelledby="bb-menu-header-button-insights" hidden="">
            <div class="bb-mega-menu__submenu-items"><a class="bb-mega-menu__submenu-header" href="#" role="button">
                <bb-icon-ui name="toggle-down" class="bb-mega-menu__submenu--close" name="angle-left" size="lg"><i
                    aria-hidden="true" class="bb-icon bb-icon-angle-left bb-icon--lg"></i>
                </bb-icon-ui>
                <div class="bb-mega-menu__submenu--text"> Main Menu</div>
              </a>
              <div class="bb-mega-menu__column bb-mega-menu__column--links ng-star-inserted">
                <a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/insights/cashflow">
                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Cash flow</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/insights/spending-analysis">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Spending analysis</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/insights/income-analysis">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Income analysis</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li class="bb-mega-menu__item ng-star-inserted">
          <div class="bb-mega-menu__header ng-star-inserted" role="heading" aria-level="2" id="bb-menu-header-4"><a
              class="bb-mega-menu__link ng-star-inserted" href="#" tabindex="0" aria-expanded="false"
              id="bb-menu-header-button-4" role="button">
              <span class="bb-mega-menu__item-description ng-star-inserted">Self service</span>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--vertical ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-toggle-down bb-icon--md"></i></bb-icon-ui>
              <bb-icon-ui name="toggle-down"
                class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--horizontal ng-star-inserted"><i
                  aria-hidden="true" class="bb-icon bb-icon-chevron-right bb-icon--md"></i></bb-icon-ui>
            </a>
          </div>
          <div class="bb-mega-menu__submenu bb-mega-menu__submenu--cols1 ng-star-inserted" role="region" tabindex="-1"
            aria-labelledby="bb-menu-header-button-self-service" hidden="">
            <div class="bb-mega-menu__submenu-items"><a class="bb-mega-menu__submenu-header" href="#" role="button">
                <bb-icon-ui name="toggle-down" class="bb-mega-menu__submenu--close" name="angle-left" size="lg"><i
                    aria-hidden="true" class="bb-icon bb-icon-angle-left bb-icon--lg"></i>
                </bb-icon-ui>
                <div class="bb-mega-menu__submenu--text"> Main Menu</div>
              </a>
              <div class="bb-mega-menu__column bb-mega-menu__column--links ng-star-inserted">
                <a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/profile">
                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">My profile</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/authorized-users">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Authorized users</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/manage-cards">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Manage cards</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/product-list">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Manage notifications</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/stop-checks">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Stop checks</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active"
                  class="bb-mega-menu__submenu-link ng-star-inserted" href="#/self-service/download-statements">

                  <div class="bb-mega-menu__submenu-item-label ng-star-inserted">
                    <div class="bb-mega-menu__submenu-title">Download statements</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
        <li aria-label="more menu items" class="bb-mega-menu__item bb-mega-menu__item--secondary">

          <div class="bb-mega-menu__header" role="heading" aria-level="2" id="bb-menu-header--2">
            <a class="bb-mega-menu__link" tabindex="0" id="bb-menu-header-button--2" href="#" aria-expanded="false"
              role="button">
              <bb-icon-ui name="ellipsis-h" class="bb-mega-menu__item-icon"><i aria-hidden="true"
                  class="bb-icon bb-icon-ellipsis-h bb-icon--md"></i>
              </bb-icon-ui>
              <span class="bb-mega-menu__item-description">More</span>
              <bb-icon-ui name="toggle-down" class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--vertical"><i
                  aria-hidden="true" class="bb-icon bb-icon-toggle-down bb-icon--md"></i></bb-icon-ui>
              <bb-icon-ui name="toggle-down" class="bb-mega-menu__expand-marker bb-mega-menu__expand-marker--horizontal"><i
                  aria-hidden="true" class="bb-icon bb-icon-chevron-right bb-icon--md"></i></bb-icon-ui>
            </a>
          </div>
          <div class="bb-mega-menu__submenu bb-mega-menu__submenu--cols1" role="region" tabindex="-1"
            aria-labelledby="bb-menu-header-button--2" hidden="">
            <div class="bb-mega-menu__submenu-items"><a class="bb-mega-menu__submenu-header" href="#" role="button">
                <bb-icon-ui name="toggle-down" class="bb-mega-menu__submenu--close" name="angle-left" size="lg"><i
                    aria-hidden="true" class="bb-icon bb-icon-angle-left bb-icon--lg"></i>
                </bb-icon-ui>
                <div class="bb-mega-menu__submenu--text"> Main Menu</div>
              </a>
              <div class="bb-mega-menu__column bb-mega-menu__column--links">
                <a bbrouterlinkactive="bb-mega-menu__submenu-link--active" class="bb-mega-menu__submenu-link"
                  href="#/6/budgets">
                  <div class="bb-mega-menu__submenu-item-label">
                    <div class="bb-mega-menu__submenu-title">Budgets</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active" class="bb-mega-menu__submenu-link"
                  href="#/6/messages">
                  <div class="bb-mega-menu__submenu-item-label">
                    <div class="bb-mega-menu__submenu-title">Messages</div>
                  </div>
                </a><a bbrouterlinkactive="bb-mega-menu__submenu-link--active" class="bb-mega-menu__submenu-link"
                  href="#/6/find-us">
                  <div class="bb-mega-menu__submenu-item-label">
                    <div class="bb-mega-menu__submenu-title">Find branches and ATMs</div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <div class="bb-topbar__content-area" data-chrome="bb-panel-container-ang-_-3d30bb506ee2">
    <div class="row">
      <div class="col align-self-center">
        <div data-chrome="bb-panel-container-ang-_-164433bc52dc">
          <div data-chrome="bb-routing-container-ang-_-25daa37eb4db">
          </div>
        </div>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</div>
<div class="ml-4 main-content">
  <router-outlet></router-outlet>
</div>
