<div class="row">
  <div class="bb-card col-lg-6">
    <div class="bb-card__header">
      <h1 class="bb-card__title">
        {{ translations['app.userAccountsView.header'] }}
      </h1>
    </div>

    <div
      class="bb-card__body"
      *ngIf="arrangements$ | async as arrangments; else loading"
    >
      <p>
        {arrangments.length, plural, =0 {There are no accounts} =1 {There is an
        account} other {There are {{ arrangments.length }} accounts} }:
      </p>
      <div class="bb-list">
        <div
          *ngFor="let account of arrangments"
          data-role="product"
          class="bb-list__item"
        >
          <bb-product-item-basic-account-ui
            [title]="account.displayName"
            [amount]="account.availableBalance"
            [currency]="account.currency"
            [productNumber]="account.number"
            [balanceLabel]="translations['app.userAccountsView.balanceLabel']"
            [active]="false"
            [favorite]="account.favorite || false"
            data-role="arrangement-container"
          ></bb-product-item-basic-account-ui>
          <a
            [routerLink]="['/transactions']"
            [queryParams]="{ account: account.id }"
          >
            {{ translations['user-accounts.view-transactions'] }}
          </a>
          |
          <a routerLink="./" (click)="updateFavorite(account)" class="link">
            <span *ngIf="!account.favorite">{{
              translations['user-accounts.add-favorites']
            }}</span>
            <span *ngIf="account.favorite">{{
              translations['user-accounts.remove-favorites']
            }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div data-role="transactions-view__loading-state-container">
    <bb-loading-indicator-ui loaderSize="lg"></bb-loading-indicator-ui>
  </div>
</ng-template>
