<app-activity-monitor></app-activity-monitor>

<div
  class="bb-layout bb-layout--horizontal-nav"
  [ngClass]="{
    'bb-layout--nav-expanded': layoutService.navigationExpanded$ | async,
    'bb-layout--high-resolution-view':
      layoutService.isHighResolutionView$ | async
  }"
>
  <!-- Dummy text -->
  <!-- Topbar Area -->
  <nav class="bb-layout__topbar">
    <!-- Skip to content -->
    <button
      aria-label="skip to content"
      i18n-aria-label="
        Move focus to beginning of content - 'skip to content'|This string is
        used as the aria-label for a button that moves the focus to the
        beginning of the content. It is presented to the user as an
        accessibility feature to quickly navigate to the main content section.
        This aria-label is located in the topbar area of the
        layout.@@move-focus-to-beginning-of-content"
      class="bb-layout__skip-to-content"
      (click)="focusMainContainer($event)"
      i18n="
        Skip to content - 'Skip to content'|This string is used as the text for
        a button that moves the focus to the beginning of the content. It is
        presented to the user as an accessibility feature to quickly navigate to
        the main content section. This text is located in the topbar area of the
        layout.@@skip-to-content"
    >
      Skip to Content
    </button>

    <!-- Hamburger -->
    <button
      class="bb-layout__nav-expand-marker"
      aria-label="Toggle sidebar"
      i18n-aria-label="
        Sidebar Toggler - 'Toggle sidebar'|This string is used as the aria-label
        for a button that toggles the sidebar state. It is presented to the user
        as an accessibility feature to indicate the button's function. This
        aria-label is located in the topbar area of the
        layout.@@bb-layout.sidebar_toggler"
      [attr.aria-expanded]="layoutService.navigationExpanded$ | async"
      (click)="layoutService.toggleNav()"
    >
      <span class="bb-icon"></span>
    </button>

    <!-- Logo -->
    <div class="bb-layout__branding-area">
      <bb-logo-ui type="emblem" class="mx-4"></bb-logo-ui>
    </div>

    <!-- Navigation Items-->
    <ul *ngIf="isAuthenticated" class="bb-layout__horizontal-nav">
      <li class="bb-layout__horizontal-nav-item">
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transfer"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #makeTransferRouterLink="routerLinkActive"
          [attr.aria-current]="
            makeTransferRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="payments"
          ></bb-icon-ui>
          <span
            class="bb-layout__horizontal-nav-item-description"
            i18n="
              Make transfer link - 'Make transfer'|This string is used as the
              text for a link that navigates to the transfer page. It is
              presented to the user as a navigation item in the horizontal
              navigation bar. This text is located in the navigation items
              section of the layout.@@main.transfer.link.text"
          >
            Make transfer
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewTransactions"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span
            class="bb-layout__horizontal-nav-item-description"
            i18n="
              Transactions list link - 'Transactions List'|This string is used
              as the text for a link that navigates to the transactions list
              page. It is presented to the user as a navigation item in the
              horizontal navigation bar. This text is located in the navigation
              items section of the layout.@@main.transactions.link.text"
          >
            Transactions List
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewPositivePay"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/positive-pay"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #positivePayRouterLink="routerLinkActive"
          [attr.aria-current]="
            positivePayRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="note"
          ></bb-icon-ui>
          <span
            class="bb-layout__horizontal-nav-item-description"
            i18n="
              Positive pay link - 'Positive Pay'|This string is used as the text
              for a link that navigates to the Positive Pay page. It is
              presented to the user as a navigation item in the horizontal
              navigation bar. This text is located in the navigation items
              section of the layout.@@main.positive-pay.link.text"
          >
            Positive Pay
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewAchRule"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/ach-positive-pay"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #myAccountsRouterLink="routerLinkActive"
          [attr.aria-current]="
            myAccountsRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="verified-user"
          ></bb-icon-ui>

          <span
            class="bb-layout__horizontal-nav-item-description"
            i18n="
              Ach Positive pay link - 'ACH Positive Pay'|This string is used as
              the text for a link that navigates to the ACH Positive Pay page.
              It is presented to the user as a navigation item in the horizontal
              navigation bar. This text is located in the navigation items
              section of the layout.@@main.ach-positive-pay.link.text"
          >
            ACH Positive Pay
          </span>
        </a>
      </li>
      <li class="bb-layout__horizontal-nav-item">
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transfer-internal"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #makeAPaymentRouterLink="routerLinkActive"
          [attr.aria-current]="
            makeAPaymentRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="verified-user"
          ></bb-icon-ui>

          <span
            class="bb-layout__horizontal-nav-item-description"
            i18n="
              Make a Payment Link - 'Make internal payment'|This string is used
              as the text for a link that navigates to the internal payment
              page. It is presented to the user as a navigation item in the
              horizontal navigation bar. This text is located in the navigation
              items section of the layout.@@main.make-a-payment.link.text"
          >
            Make internal payment
          </span>
        </a>
      </li>
    </ul>

    <!-- Topbar Content Area (a.k.a. Right Topbar Area) -->
    <div class="bb-layout__topbar-content-area">
      <app-theme-switcher class="mx-2"></app-theme-switcher>
      <app-locale-selector class="mx-2"></app-locale-selector>
      <div>
        <a routerLink="/accounts">
          <bb-icon-ui
            color="secondary"
            data-role="notifications-icon"
            name="user"
            size="lg"
            class="mx-2"
          ></bb-icon-ui>
        </a>

        <a href="#" (click)="logout()" data-role="logout-btn">
          <bb-icon-ui
            color="secondary"
            data-role="notifications-icon"
            name="exit-to-app"
            size="lg"
            class="mx-2"
          ></bb-icon-ui>
        </a>
      </div>
    </div>
  </nav>

  <!-- Backdrop-->
  <div
    class="bb-layout__nav-backdrop"
    (click)="layoutService.toggleNav()"
  ></div>

  <!--Main content area-->
  <div class="bb-layout__main">
    <div class="bb-layout__sidebar"></div>
    <div class="bb-layout__content">
      <div
        class="bb-layout__container container-fluid d-block container bb-block--xl"
      >
        <!--Header Area-->
        <div
          class="bb-layout__main-content-header bb-block bb-block--xl"
          aria-live="polite"
        ></div>

        <!-- Main Content Area -->
        <div class="bb-layout__main-content-area">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
