<app-activity-monitor></app-activity-monitor>

<div
  class="bb-layout bb-layout--horizontal-nav"
  [ngClass]="{
    'bb-layout--nav-expanded': layoutService.navigationExpanded$ | async,
    'bb-layout--high-resolution-view':
      layoutService.isHighResolutionView$ | async
  }"
>
  <!-- Dummy text -->
  <!-- Topbar Area -->
  <nav class="bb-layout__topbar">
    <!-- Skip to content -->
    <button
      [ariaLabel]="appTranslations['move-focus-to-beginning-of-content']"
      class="bb-layout__skip-to-content"
      (click)="focusMainContainer($event)"
    >
      {{ appTranslations['skipToContent'] }}
    </button>

    <!-- Hamburger -->
    <button
      class="bb-layout__nav-expand-marker"
      [ariaLabel]="appTranslations['bb-layout.sidebar_toggler']"
      [ariaExpanded]="layoutService.navigationExpanded$ | async"
      (click)="layoutService.toggleNav()"
    >
      <span class="bb-icon"></span>
    </button>

    <!-- Logo -->
    <div class="bb-layout__branding-area">
      <bb-logo-ui type="emblem" class="mx-4"></bb-logo-ui>
    </div>

    <!-- Navigation Items-->
    <ul *ngIf="isAuthenticated" class="bb-layout__horizontal-nav">
      <li class="bb-layout__horizontal-nav-item">
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transfer"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #makeTransferRouterLink="routerLinkActive"
          [attr.aria-current]="
            makeTransferRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="payments"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.transfer.link.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="
          'EntPayments.AchPositivePay.create AND EntPayments.ManagePositivePay.create OR EntPayments.AchPositivePay.view'
        "
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.entitlements-test-no-grouping.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="
          'EntPayments.AchPositivePay.create AND (EntPayments.ManagePositivePay.create OR EntPayments.AchPositivePay.view)'
        "
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.entitlements-test-grouping.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="
          '((EntPayments.ManagePositivePay.create OR EntPayments.AchPositivePay.view) AND EntPayments.AchPositivePay.view) OR EntPayments.ManagePositivePay.create'
        "
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.entitlements-test-nested-groups.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="
          '!((EntPayments.ManagePositivePay.create OR EntPayments.AchPositivePay.view) AND EntPayments.AchPositivePay.view) OR EntPayments.ManagePositivePay.create'
        "
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{
              appTranslations[
                'main.entitlements-test-using-not-operators-on-groups.text'
              ]
            }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="
          '!(!(EntPayments.ManagePositivePay.create OR EntPayments.AchPositivePay.view) AND EntPayments.AchPositivePay.view) OR !EntPayments.ManagePositivePay.create'
        "
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{
              appTranslations[
                'main.entitlements-test-using-multiple-not-operators-on-groups.text'
              ]
            }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewTransactions"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transactions"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #transactionsListRouterLink="routerLinkActive"
          [attr.aria-current]="
            transactionsListRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="transactions"
            size="md"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.transactions.link.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewPositivePay"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/positive-pay"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #positivePayRouterLink="routerLinkActive"
          [attr.aria-current]="
            positivePayRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="note"
          ></bb-icon-ui>
          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.positive-pay.link.text'] }}
          </span>
        </a>
      </li>
      <li
        class="bb-layout__horizontal-nav-item"
        *bbIfEntitlements="triplets.canViewAchRule"
      >
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/ach-positive-pay"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #myAccountsRouterLink="routerLinkActive"
          [attr.aria-current]="
            myAccountsRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="verified-user"
          ></bb-icon-ui>

          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.ach-positive-pay.link.text'] }}
          </span>
        </a>
      </li>
      <li class="bb-layout__horizontal-nav-item">
        <a
          class="bb-layout__horizontal-nav-link"
          routerLink="/transfer-internal"
          routerLinkActive="bb-layout__horizontal-nav-link--active"
          #makeAPaymentRouterLink="routerLinkActive"
          [attr.aria-current]="
            makeAPaymentRouterLink.isActive ? 'page' : undefined
          "
        >
          <bb-icon-ui
            class="bb-layout__vertical-nav-item-icon"
            name="verified-user"
          ></bb-icon-ui>

          <span class="bb-layout__horizontal-nav-item-description">
            {{ appTranslations['main.make-a-payment.link.text'] }}
          </span>
        </a>
      </li>
    </ul>

    <!-- Topbar Content Area (a.k.a. Right Topbar Area) -->
    <div class="bb-layout__topbar-content-area">
      <app-theme-switcher class="mx-2"></app-theme-switcher>
      <app-locale-selector class="mx-2"></app-locale-selector>
      <div>
        <a routerLink="/accounts">
          <bb-icon-ui
            color="secondary"
            data-role="notifications-icon"
            name="user"
            size="lg"
            class="mx-2"
          ></bb-icon-ui>
        </a>

        <a
          href="#"
          (click)="logout()"
          data-role="logout-btn"
          aria-label="Logout"
        >
          <bb-icon-ui
            color="secondary"
            data-role="notifications-icon"
            name="exit-to-app"
            size="lg"
            class="mx-2"
          ></bb-icon-ui>
          <span class="sr-only">Logout</span>
        </a>
      </div>
    </div>
  </nav>

  <!-- Backdrop-->
  <div
    class="bb-layout__nav-backdrop"
    (click)="layoutService.toggleNav()"
  ></div>

  <!--Main content area-->
  <div class="bb-layout__main">
    <div class="bb-layout__sidebar"></div>
    <div class="bb-layout__content">
      <div
        class="bb-layout__container container-fluid d-block container bb-block--xl"
      >
        <!--Header Area-->
        <div
          class="bb-layout__main-content-header bb-block bb-block--xl"
          aria-live="polite"
        ></div>

        <!-- Main Content Area -->
        <div class="bb-layout__main-content-area">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
