@font-face {
  font-family: "IcoMoon";
  font-style: normal;
  font-weight: 400;
  src: url("assets/custom-font/icomoon.ttf") format("truetype");
}

.bb-icon {
  font-family: "IcoMoon";
}

.bb-icon-transactions::before {
  content: "\ee90";
}