name: Release Drafter

on:
  push:
    branches:
      - main

  # pull_request:
  #   types: [opened, reopened, synchronize]

  workflow_dispatch:

jobs:
  correct_repository:
    runs-on: ubuntu-latest
    steps:
      - name: fail on fork
        if: github.repository_owner != 'Backbase'
        run: exit 1

  update_release_draft-transactions:
    needs: correct_repository
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@b1476f6e6eb133afa41ed8589daba6dc69b4d3f5 #v6.1.0
        with:
          config-name: release-drafter-transactions.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update_release_draft-transfer:
    needs: correct_repository
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter-transfer.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  update-angular-tag:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6

      - name: Get Angular version
        id: get-angular-version
        run: |
          version=$(node -p "require('./package-lock.json').packages['node_modules/@angular/core'].version.split('.').shift()")
          echo "::set-output name=version::$version"

      - name: Update tag
        run: |
          tag='angular@v${{ steps.get-angular-version.outputs.version }}'
          git tag $tag -f
          git push origin $tag -f
